<%- include("./partials/adminHeader") %>
<div class="container-fluid">
  <div class="row">
    <!-- Your Profile Views Chart -->
    <div class="col-lg-12 m-b30">
      <div class="widget-box">
        <div class="wc-title">
          <h4>Profile admin</h4>
        </div>
        <div class="widget-inner">
          <%- include("../alertMessage") %>
          <form
            class="edit-profile m-b30"
            action="/admin/update_profil"
            method="post"
          >
            <div class="">
              <div class="form-group row">
                <div class="col-sm-10 ml-auto">
                  <h3>1. Details personnels</h3>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="text"
                    name="nom"
                    value="<%= profil.nom %>"
                  />
                  <input
                    class="form-control"
                    type="hidden"
                    name="id"
                    value="<%= profil._id %>"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Postnom</label>
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="text"
                    name="postnom"
                    value="<%= profil.postnom %>"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Prenom</label>
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="text"
                    name="prenom"
                    value="<%= profil.prenom %>"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Adresse mail</label>
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="text"
                    name="mail"
                    value="<%= profil.mail %>"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nom d'utilisateur</label>
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="text"
                    name="username"
                    value="<%= profil.username %>"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tel</label>
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="text"
                    value="<%= profil.tel %>"
                    name="tel"
                  />
                </div>
              </div>

              <div class="seperator"></div>

              <div class="form-group row">
                <div class="col-sm-10 ml-auto">
                  <h3>2. Adresse</h3>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Adresse</label>
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="text"
                    name="adresse"
                    value="<%= profil.adresse %>"
                  />
                </div>
              </div>
              <div
                class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"
              ></div>
            </div>
            <div class="">
              <div class="form-group row">
                <div class="col-sm-10 ml-auto">
                  <h3>3. Changer de mot de passe</h3>
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mot de passe</label>
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    value=""
                  />
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"
                  >Confirmer mot de passe</label
                >
                <div class="col-sm-7">
                  <input
                    class="form-control"
                    type="password"
                    name="confirmation"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class="">
              <div class="">
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-7">
                    <button type="submit" class="btn">Enregistrer</button>
                    <button type="reset" class="btn-secondry">Annuler</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Your Profile Views Chart END-->
  </div>
</div>

<%- include("./partials/adminFooter") %>
