<%- include("./partials/adminHeader") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 m-b30">
      <div class="widget-box">
        <div class="wc-title">
          <h4>Liste Professeur</h4>
        </div>
        <div class="form-group col-6">
          <div>
            <input
              class="form-control"
              type="text"
              value=""
              placeholder="Chercher un professeur"
            />
          </div>
        </div>
        <table class="table myTable" id="mytables">
          <thead class="thead">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Postnom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Section</th>
              <th scope="col">Departement</th>
              <th scope="col">Adresse mail</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% var i = 1 %> %><% profs.forEach(function(item){ %>
            <tr>
              <th scope="row"><%= i++ %></th>
              <td data-title="Nom"><%= item.nom %></td>
              <td data-title="Postnom"><%= item.postnom %></td>
              <td data-title="Prenom"><%= item.prenom %></td>
              <td data-title="Section"><%= item.section %></td>
              <td data-title="Departement"><%= item.departement %></td>
              <td data-title="Departement"><%= item.mail %></td>
              <td data-title="Action">
                <!-- Modal -->
                <a
                  href="/admin/delete_prof/<%= item._id %>"
                  class="btn btn-success"
                >
                  <i class="ti-trash" style="margin-right: 5px"></i>Effacer</a
                >
              </td>
                <!-- Modal -->
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Your Profile Views Chart END-->
  </div>
</div>
<%- include("./partials/adminFooter") %>
